.next
.env.local
*.tsbuildinfo
@starcite/

components/ai-elements/*
!components/ai-elements/conversation.tsx
!components/ai-elements/message.tsx
!components/ai-elements/prompt-input.tsx

components/ui/*
!components/ui/button.tsx
!components/ui/button-group.tsx
!components/ui/command.tsx
!components/ui/dialog.tsx
!components/ui/dropdown-menu.tsx
!components/ui/hover-card.tsx
!components/ui/input-group.tsx
!components/ui/input.tsx
!components/ui/select.tsx
!components/ui/separator.tsx
!components/ui/spinner.tsx
!components/ui/textarea.tsx
!components/ui/tooltip.tsx
